# Ignore node_modules directories in backend and frontend
/backend/node_modules/
/frontend/node_modules/

# Ignore environment variables
/backend/.env
/frontend/.env

# Ignore package lock files
/backend/package-lock.json
/frontend/package-lock.json

# Ignore build output
/frontend/build/

# Ignore logs
*.log

# Ignore operating system files
.DS_Store
Thumbs.db
